<body>
  <div class="container-fluid szamologep">
    <div style="margin-bottom: 10px" class="row">
      <div
        style="color: Red; display: flex; justify-content: flex-start"
        class="col"
      >
        <button
          routerLink="/szamologep"
          ly-button
          raised
          bg="primary"
          class="btn"
        >
          <strong>Számológép</strong>
        </button>
      </div>
      <div
        style="color: Red; display: flex; justify-content: center"
        class="col"
      >
        <button routerLink="/sorter" ly-button raised bg="primary" class="btn">
          <strong>Sorter</strong>
        </button>
      </div>
      <div
        style="color: Red; display: flex; justify-content: flex-end"
        class="col"
      >
        <button routerLink="/" ly-button raised class="btn kijel">
          <strong>Kijelentkezés</strong>
        </button>
      </div>
    </div>
    <div class="row">
      <div
        style="color: Red; display: flex; justify-content: flex-start"
        class="col"
      >
        <button
          routerLink="/eredmenyek"
          ly-button
          raised
          bg="primary"
          class="btn"
        >
          <strong>Eredmények</strong>
        </button>
      </div>
      <div
        style="color: Red; display: flex; justify-content: center"
        class="col"
      >
        <button
          routerLink="/akasztofa"
          ly-button
          raised
          bg="primary"
          class="btn"
        >
          <strong>Akasztófa</strong>
        </button>
      </div>
      <div
        style="color: Red; display: flex; justify-content: flex-end"
        class="col"
      ></div>
    </div>
  </div>

  <button
    routerLink="/contact"
    ly-button
    raised
    bg="primary"
    class="btn contact"
  >
    Contact
  </button>
</body>
