<body>
  <div class="szamologep">
    <div class="matek">
      <a routerLink="/szamologep">
        <button ly-button raised bg="primary" class="btn">
          <strong>Számológép</strong>
        </button>
      </a>
      <div class="marginholder"></div>
      <a routerLink="/eredmenyek">
        <button ly-button raised bg="primary" class="btn">
          <strong>Eredmények</strong>
        </button>
      </a>
    </div>

    <div class="marginholder">
      <a routerLink="/sorter">
        <button ly-button raised bg="primary" class="btn">
          <strong>Sorter</strong>
        </button>
      </a>
      <div class="marginholder"></div>
      <a routerLink="/akasztofa">
        <button ly-button raised bg="primary" class="btn akasztofa">
          <strong>Akasztófa</strong>
        </button>
      </a>
    </div>

    <button routerLink="/" ly-button raised class="btn kijel">
      <strong>Kijelentkezés</strong>
    </button>
  </div>
  <button
    routerLink="/contact"
    ly-button
    raised
    bg="primary"
    class="btn contact"
  >
    Contact
  </button>
</body>
