body {
  background: url(../../kepek/32822.jpg);
  background-size: cover;
}

input {
  text-align: left;
  padding: 10px 30px;
  padding-left: 5px;

  margin: 10px 0;
  padding: 12px 20px;
  font-size: 1rem;
  border-width: 3px;
  border-style: solid;
  border-color: rgba(63, 40, 126, 0.726);
  border-radius: 15px;
  text-align: center;
  outline: transparent;
}

.bejelentkezes {
  margin-top: 4rem;
  text-align: center;
  animation-name: bejel;
  animation-duration: 3s;
}

button {
  border: none;
  font-size: 15px;
  border-radius: 15px;

  height: 5ex;
}
button:hover {
  background-color: gray;
}
.szamologep {
  padding: 30px 10px;

  text-align: right;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(128, 128, 128, 0.486);
  display: right;
}

#gomb {
  animation-name: contact;
  animation-duration: 3s;
}

.btn {
  position: relative;
  right: 3%;
  flex-direction: row;
  border: none;
  font-size: 19px;
  height: 60px;
  width: 120px;
  border-radius: 15px;

  display: inline-block;
  background-color: rgb(53, 71, 110);
}
.btn:hover {
  background-color: rgba(126, 126, 126, 0.445);
}
.login {
  font-size: 19px;
  height: 50px;
  width: 100px;
}

@keyframes bejel {
  0% {
    transform: translateX(-50%);
  }
}
@keyframes contact {
  0% {
    transform: translateX(15rem);
  }
}
