body {
  background: url(../../kepek/32822.jpg);
  background-size: cover;
}
.gombom {
  text-align: center;
  border: none;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.486);
}
.btn {
  border: none;
  padding: 15px 32px;
  font-size: 19px;
  height: 60px;
  width: 120px;
  border-radius: 15px;
  margin: 20px 20px;
  background-color: rgb(53, 71, 110);
}
.btn:hover {
  background-color: rgba(126, 126, 126, 0.445);
}
.email {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}
.in {
  resize: none;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  outline: none;
}
.uz {
  height: 90px;
}
.uz:focus,
.in:focus {
  background-color: rgb(252, 252, 221);
}
.btnkuld {
  border: none;
  padding: 10px 23px;
  font-size: 15px;
  border-radius: 15px;
  margin: 20px 20px;
  background-color: rgb(53, 71, 110);
}
