<body>
  <div class="gombom">
    <button ly-button raised bg="primary" class="btn" routerLink="/fooldal">
      Vissza
    </button>
  </div>
  <div class="email">
    <textarea class="in" placeholder="Email" [(ngModel)]="emailje"></textarea>
  </div>
  <div class="email">
    <textarea class="in" placeholder="Tárgy" [(ngModel)]="subject"></textarea>
  </div>
  <div class="email">
    <textarea class="in uz" placeholder="Üzenet" [(ngModel)]="text"></textarea>
  </div>

  <div class="email">
    <button
      ly-button
      raised
      bg="primary"
      class="btnkuld"
      (click)="emailerosit()"
    >
      Küldés
    </button>
  </div>
</body>
