.btn {
  border: none;
  padding: 15px 32px;
  font-size: 25px;
  border-radius: 15px;
  margin: 20px 20px;
  background-color: rgb(53, 71, 110);
}
.btn:hover {
  background-color: rgba(126, 126, 126, 0.445);
}

.uzenetek {
  color: white;
  text-align: center;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}
.torles {
  margin-left: 30px;
  border: none;
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 15px;
}
.torles:hover {
  background-color: rgb(245, 0, 0);
}
.gombom {
  text-align: center;
  border: none;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.486);
}

mat-spinner {
  margin: 0 auto;
}
body {
  background: url(../../kepek/32822.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}
html,
body {
  height: 100%;
}
.app {
  height: 100%;
}
