<body class="egesz">
  <div class="vissza">
    <button ly-button raised bg="primary" class="btn" routerLink="/fooldal">
      Vissza
    </button>
  </div>

  <div>
    <button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('1')"
    >
      1</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('2')"
    >
      2</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('3')"
    >
      3</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('+')"
    >
      +
    </button>
    <button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('*')"
    >
      *
    </button>
  </div>
  <div>
    <button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('4')"
    >
      4</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('5')"
    >
      5</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('6')"
    >
      6</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('-')"
    >
      -
    </button>
    <button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('/')"
    >
      /
    </button>
  </div>
  <div>
    <button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('7')"
    >
      7</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('8')"
    >
      8</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('9')"
    >
      9</button
    ><button
      ly-button
      appearance="fab"
      raised
      bg="primary"
      class="gomb"
      (click)="szamlalo('=')"
    >
      =
    </button>
    <button ly-button appearance="fab" raised bg="primary" class="hely">
      5
    </button>
  </div>
  <div><input readonly value="{{ eredmeny }}" /></div>
</body>
