.gombom {
  text-align: center;
  border: none;
  display: flex;
  justify-content: space-between;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.486);
}
.btn {
  border: none;
  padding: 15px 32px;
  font-size: 19px;
  height: 60px;
  width: 120px;
  border-radius: 15px;
  margin: 20px 20px;
  background-color: rgb(53, 71, 110);
}
.btn:hover {
  background-color: rgba(126, 126, 126, 0.445);
}

.betuk {
  font-size: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.betu {
  margin-top: 20px;
  margin-right: 5px;
  text-align: center;
  padding-bottom: 3px;
  color: rgb(236, 241, 157);
}

.gombok {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.abc:disabled {
  background-color: rgba(67, 74, 114, 0.479);
  color: rgba(253, 253, 253, 0.425);
  border-color: transparent transparent transparent;
}
.abc {
  width: 60px;
  height: 50px;
  margin: 3px 3px;
  background-color: rgb(58, 76, 240);
  color: rgba(253, 253, 253, 0.911);
  border-radius: 10px;
  border-color: transparent transparent rgba(255, 255, 255, 0.315)
    rgba(255, 255, 255, 0.315);
}
.abc:hover:enabled {
  background-color: rgb(43, 56, 170);
}
body {
  background: url(../../kepek/32822.jpg);
  background-size: cover;
  overflow: auto;
}

h1 {
  color: rgb(164, 149, 248);
}
